.skills {
  @include section-width;
  
  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    padding: 1rem 0;
    border-bottom: 2px solid #e5e8ec;
  }
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 0 0;
  justify-content: space-between;
  &__item {
    color: $gray;
    font-weight: normal;
    font-size: 1.125rem;
    padding:11px 0 11px 30px;
    position: relative;
    &::before {
        position: absolute;
        top: 12px;
        left: 0;
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background: url('../assets/img/check-circle-green.svg');
        .skills-list--violet & {
            background: url('../assets/img/check-circle-violet.svg');
        }
        .skills-list--blue & {
            background: url('../assets/img/check-circle-blue.svg');
        }
    }
  }
  &__list { 
    list-style-type: none;
    padding: 0;
    margin-top: calc(1.5rem +4px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  &__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.27rem;
    margin: 0;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 4px;
      background: $green;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      .skills-list--violet & {
          background: $violet;
      }
      .skills-list--blue & {
        background: $blue;
    }
    }
  }
}
