$azure-radiance: #0593FB;
$big-stone: #171F3F;
$blue: #2251CC;
$ghost: #CBD2D9;
$gray: #52606D;
$green: #06C847;
$lightgray: #F5F7FA;
$violet: #D605F8;

@mixin section-width {
    max-width: 1184px;
    margin: 0 auto 8rem;
}